body {
    font-family: Calibri, Tahoma, Arial, sans-serif;

}


/* navbar */

nav {
    position: sticky;
    top: 5px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul.main {
    padding: 10px;
    overflow: hidden;
    background-color: #333;

    display: flex;
    justify-content: space-between;
}
  
nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li.logo a {
    padding: 6px 8px;
    width: 50px;
}

nav li.logo a img {
    padding: 0;
    width: 100%;
}

nav li.login a {
    color: black;
    background-color: white;
}

nav li.options a:hover {
    background-color: #111;
}

nav li.login a:hover {
    opacity: 0.8;
}