<i class="uil uil-bars nav__bars nav__icon" id="nav__bars"></i>
<aside class="aside" id="aside">
    <!-- ===== nav ===== -->
    <nav class="nav">
        <a href="./index.php" class="nav__logo">H</a>
        <div class="nav__menu" id="nav__menu">
            <ul class="nav__list grid">
                <li class="nav__item">
                    <a href="./index.php" class="nav__link" title="Home">
                        <i class="uil uil-estate nav__icon"></i>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="./aboutme.php" class="nav__link" title="About Me">
                        <i class="uil uil-user nav__icon"></i>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#skills" class="nav__link" title="Skills">
                        <i class="uil uil-wrench nav__icon"></i>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#services" class="nav__link" title="Services">
                        <i class="uil uil-briefcase-alt nav__icon"></i>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#portfolio" class="nav__link" title="Portfolio">
                        <i class="uil uil-file-alt nav__icon"></i>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#contact" class="nav__link" title="Contact">
                        <i class="uil uil-phone nav__icon"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav__buttons">
            <div class="nav__social">
                <a href="#github" class="nav__social__link" target="_blank"><i class="uil uil-github nav__icon nav__social__icon"></i></a>
                <a href="#linkedin" class="nav__social__link" target="_blank"><i class="uil uil-linkedin nav__icon nav__social__icon"></i></a>
                <a href="#facebook" class="nav__social__link" target="_blank"><i class="uil uil-facebook nav__icon nav__social__icon"></i></a>
            </div>
            <i class="uil uil-moon nav__theme-button nav__icon" id="nav__theme-button"></i> <!-- uil-moon / uil-sun -->
        </div>
    </nav>
</aside>
