@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --nav-width: 5rem;

    --hue-color: 230;

    --main-color-50: hsl(var(--hue-color), 92%, 95%);
    --main-color-100: hsl(var(--hue-color), 92%, 85%);
    --main-color-300: hsl(var(--hue-color), 75%, 72%);
    --main-color-500: hsl(var(--hue-color), 69%, 61%);
    --main-color-700: hsl(var(--hue-color), 57%, 53%);
    --main-color-900: hsl(var(--hue-color), 47%, 43%);

    --text-color-100: hsl(var(--hue-color), 8%, 25%);
    --text-color-300: hsl(var(--hue-color), 8%, 45%);
    --text-color-500: hsl(var(--hue-color), 8%, 65%);
    --text-color-700: hsl(var(--hue-color), 8%, 75%);

    --title-color: hsl(var(--hue-color), 8%, 40%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --nav-color: hsl(var(--hue-color), 60%, 99%);

    /* swiper */
    --swiper-theme-color: var(--main-color-500) !important;
  }

  html.dark {
    --main-color-50: hsl(var(--hue-color), 92%, 95%);
    --main-color-100: hsl(var(--hue-color), 92%, 85%);
    --main-color-300: hsl(var(--hue-color), 75%, 72%);
    --main-color-500: hsl(var(--hue-color), 69%, 61%);
    --main-color-700: hsl(var(--hue-color), 57%, 53%);
    --main-color-900: hsl(var(--hue-color), 47%, 43%);

    --text-color-300: hsl(var(--hue-color), 8%, 65%);
    --text-color-500: hsl(var(--hue-color), 8%, 80%);
    --text-color-700: hsl(var(--hue-color), 8%, 90%);

    --title-color: hsl(var(--hue-color), 8%, 95%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --nav-color: hsl(var(--hue-color), 28%, 12%);
  }

  * {
    @apply box-border p-0 m-0;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply transition-all
    m-0 sm:ml-nav-width h-screen
    bg-body-color
    font-body text-base text-text-color-500;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-title-color font-semibold text-base;
  }

  h1 {
    @apply text-2xl text-main-color-500;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }

  p {
    @apply text-base font-medium text-text-color-500;
  }

  ul {
    @apply list-none;
  }

  a {
    @apply no-underline;
  }

  /* img {
    @apply max-w-full h-auto;
  } */

  aside {
    @apply fixed w-nav-width h-screen top-0 sm:left-0 z-50
    transition-all;
  }

  @media (max-width: 640px) {
    aside {
      @apply -left-nav-width;
    }
  }
}

@layer components {
  #root {
    @apply h-full w-full;
  }

  .section {
    @apply h-full w-full p-4 m-0 px-[1%];
  }

  .container {
    @apply max-w-6xl w-full h-full mx-6 pt-[10vh] md:pt-0;
  }

  .button {
    @apply inline-block  text-white bg-main-color-500 py-5 px-7 rounded-lg hover:bg-main-color-700;
  }

  .foreground {
    @apply fixed top-0 left-0 w-full h-full z-[49] transition-all bg-black bg-opacity-40;
  }

  /* nav */
  .nav__icon {
    @apply select-none text-text-color-300 text-3xl sm:text-2xl font-extrabold cursor-pointer hover:text-text-color-500;
  }

  .nav__social__icon {
    @apply text-xl m-[2px];
  }

  .nav__link {
    @apply flex justify-center items-center;
  }

  .nav__item {
    @apply p-2;
  }

  /* login / signup */

  .error,
  .success {
    @apply border border-solid py-3 px-2
    bg-[10px_center] rounded-sm font-medium text-sm;
  }

  .error {
    @apply text-red-600 bg-red-200 border-red-600;
  }

  .success {
    @apply text-green-600 bg-green-200 border-green-600;
  }

  .form {
    @apply w-full max-w-md p-8 shadow-xl;
  }

  .label {
    @apply block text-sm font-medium text-slate-700;
  }

  .input {
    @apply px-6 py-2 mt-1 bg-white dark:bg-body-color border shadow-sm border-main-color-100 text-text-color-300 dark:text-text-color-500 placeholder-text-color-700
    dark:placeholder:text-text-color-300 focus:outline-none focus:border-main-color-500 focus:ring-main-color-500 block w-full rounded-md sm:text-sm
    focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500
    disabled:shadow-none;
  }

  /* home */
  .home__icon {
    @apply nav__icon;
  }

  /* projects */
  .swiper__slide {
    @apply flex flex-col lg:flex-row justify-center items-center w-full gap-8;
  }
}
