:root {
  --nav-width: 5rem;

  /* = color = */
  --hue-color: 230;

  --main-color: hsl(var(--hue-color), 70%, 60%);
  --main-color-dark: hsl(var(--hue-color), 57%, 53%);
  --main-color-light: hsl(var(--hue-color), 75%, 72%);
  --main-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --main-color-lightest: hsl(var(--hue-color), 92%, 99%);

  --h1-color: hsl(var(--hue-color), 8%, 15%);
  --h2-color: hsl(var(--hue-color), 8%, 25%);
  --h3-color: hsl(var(--hue-color), 8%, 40%);
  --h4-color: hsl(var(--hue-color), 8%, 40%);

  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);

  --body-color: hsl(var(--hue-color), 60%, 99%);
  --nav-color: hsl(var(--hue-color), 60%, 99%);
  --nav-color-dark: hsl(var(--hue-color), 5%, 80%);

  /* = font = */
  --body-font: sans-serif;

  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --h4-font-size: 1.1rem;
  --big-font-size: 3rem;
  --normal-font-size: 0.95rem;
  --small-font-size: 0.8rem;
  --smaller-font-size: 0.75rem;

  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-bolder: 800;
}

body.dark-theme {
  --main-color: hsl(var(--hue-color), 70%, 60%);
  --main-color-dark: hsl(var(--hue-color), 57%, 53%);
  --main-color-light: hsl(var(--hue-color), 75%, 72%);
  --main-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --main-color-lightest: hsl(var(--hue-color), 92%, 99%);

  --h1-color: hsl(var(--hue-color), 8%, 85%);
  --h2-color: hsl(var(--hue-color), 8%, 75%);
  --h3-color: hsl(var(--hue-color), 8%, 70%);
  --h4-color: hsl(var(--hue-color), 8%, 70%);

  --text-color: hsl(var(--hue-color), 8%, 65%);
  --text-color-light: hsl(var(--hue-color), 8%, 90%);

  --body-color: hsl(var(--hue-color), 15%, 10%);
  --nav-color: hsl(var(--hue-color), 15%, 9%);
  --nav-color-dark: hsl(var(--hue-color), 5%, 13%);
}

/* === base === */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid black; */
}

html {
  scroll-behavior: smooth;
}

body {
  transition: all 0.2s;
  margin: 0 0 0 var(--nav-width);
  height: 100vh;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-semi-bold);
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  color: var(--h1-color);
}

h2 {
  font-size: var(--h2-font-size);
  color: var(--h2-color);
}

h3 {
  font-size: var(--h3-font-size);
  color: var(--h3-color);
}

h4 {
  font-size: var(--h4-font-size);
  color: var(--h4-color);
}

p {
  font-weight: var(--font-medium);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.aside {
  width: var(--nav-width);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  transition: all 0.2s;
}

/* === reusable === */

.section {
  height: 100%;
  padding: 1rem;

  margin: 0 1%;
}

.container {
  max-width: 768px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.center {
  margin: auto;
}

.button {
  color: var(--main-color-lightest);
  background-color: var(--main-color);
  padding: 1.3rem 1.8rem;
  border-radius: 15px;
}

.button:hover {
  background-color: var(--main-color-dark);
}

.focus {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

/* ===== nav ===== */

.nav__icon,
.nav__logo {
  user-select: none;

  margin: calc(var(--nav-width) / 4);
  color: var(--text-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-bolder);

  cursor: pointer;
}

.nav__icon:hover,
.nav__logo:hover {
  color: var(--text-color-light);
}

.nav {
  width: 100%;
  height: 100%;

  border-right: 1px solid var(--nav-color-dark);
  background-color: var(--nav-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nav__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__social {
  margin-bottom: 1rem;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.nav__social__link {
  padding: 0.2rem;
}

.nav__bars {
  position: fixed;

  top: 0.5rem;
  left: 0.5rem;
  padding: 0.5rem;
  font-size: var(--h1-font-size);
  color: var(--h1-color);
  z-index: 101;

  transition: all 0.2s;
}

@media only screen and (max-width: 600px) {
  .focus--show {
    display: block;
  }

  .aside {
    left: calc(-1 * var(--nav-width));
  }

  .aside--show {
    left: 0;
  }

  .nav__bars {
    display: block;
  }

  .nav__bars:hover {
    color: var(--h4-color);
  }

  .nav__bars--close {
    left: calc(0.5rem + var(--nav-width));
  }

  .nav__social {
    display: none;
  }
}

/* ========== Home ========== */

.home {
  display: flex;
  align-items: center;
}

.home__content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 15%;
}

.home__icon {
  color: var(--text-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-bolder);

  cursor: pointer;
}

.home__text {
  margin-left: 10%;
  margin-right: 10vmax;
  width: 30%;
}

.home__blob {
  max-width: 0 10%;
  width: 25rem;
  fill: var(--main-color);

  transition: all 0.1s;
}

.home__social {
  display: none;
}

.home__social__link {
  padding: 0.3rem;
}

@media only screen and (max-width: 1000px) {
  .home__content {
    padding-top: 15vh;
    flex-direction: column-reverse;
    justify-content: start;
    flex-flow: column-reverse nowrap;
    gap: 10%;
  }

  .home__blob {
    width: 15rem;
  }

  .home__text {
    margin: 0 auto;
    width: 80%;
  }

  .home__social {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
}

/* ========== About Me ========== */

/* ========== Skills ========== */

/* ========== Services ========== */

/* ========== Portfolio ========== */

/* ========== Contact ========== */
